html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(/img/4917635.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.main-content {
    flex: 1;
    margin-left: 250px; /* Espaço para a navbar lateral */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Largura máxima para a caixa de pesquisa */
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#pokemonNameInput {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #e84118;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#animationContainer {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingIndicator {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #4CAF50;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pokemon-info {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #e84118;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

.pokemon-info h2 {
    color: #e84118;
    margin-bottom: 10px;
}

.pokemon-info img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-info p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.pokemon-info ul {
    list-style-type: none;
    padding: 0;
}

.pokemon-info ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 0.9rem;
    margin-top: auto;
}

/* Navbar lateral */
#sidebar {
    height: 100%;
    width: 270px; /* Ajuste a largura se necessário */
    position: fixed;
    top: 0;
    left: -270px; /* Ajuste a posição conforme a nova largura */
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transition: 0.3s;
    padding: 20px;
    z-index: 1000;
    overflow: auto;
}
#sidebar.open {
    left: 0;
}

#sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0; /* Garantir que a margem à esquerda não sobreponha o botão */
}

#sidebar .logo img {
    width: 170px; /* Tamanho maior para a logo */
    height: auto;
}

#sidebar .version {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

#sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 1.1rem;
}

#sidebar a:hover {
    background-color: #575757;
}

#openSidebar {
    font-size: 1.5rem;
    background-color: #e84118;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 5px; /* Ajuste este valor conforme necessário */
    z-index: 1001;
}

/* Responsividade */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0; /* Remove o espaço da navbar lateral em telas menores */
    }

    #sidebar {
        width: 200px; /* Reduz o tamanho da navbar lateral em telas menores */
    }

    #sidebar .logo img {
        width: 110px; /* Reduz o tamanho da logo em telas menores */
    }

    #openSidebar {
        font-size: 1.2rem; /* Ajusta o tamanho do botão de abrir sidebar em telas menores */
        top: 10px;
        left: 10px;
    }
}

@media (max-width: 480px) {
    #sidebar {
        width: 150px; /* Reduz ainda mais o tamanho da navbar lateral em telas muito pequenas */
    }

    #sidebar .logo img {
        width: 80px; /* Reduz ainda mais o tamanho da logo em telas muito pequenas */
    }

    #openSidebar {
        font-size: 1rem; /* Ajusta o tamanho do botão de abrir sidebar em telas muito pequenas */
        top: 5px;
        left: 5px;
    }
}
